.rotate-text {
    writing-mode: sideways-lr;
    padding-right: 10px;
}
.bg-dropped {
    background-color: #e3f2e1 !important;
}
.dropArea {
    height: 100%;
    color: #0f3c4b;
    background-color: #e3f2e1;
    transition:
        outline-offset 0.2s ease-out,
        outline-color 0.3s ease-in-out,
        background-color 0.2s ease-out;
}
.dropArea.highlight {
    outline-offset: -4px;
    outline-color: #0f3c4b;
    background-color: #cff4fc !important;
}
table#meta_analysis tbody tr:hover td {
    background-color: yellow !important;
}