body {
    margin: 24px;
}

#dropArea {
    color: #0f3c4b;
    background-color: #f9f9fa;
    /*background-color: #f3f5f7;*/
    outline: 4px dashed #0f3c4b;
    outline-offset: -12px;
    transition:
        outline-offset 0.2s ease-out,
        outline-color 0.3s ease-in-out,
        background-color 0.2s ease-out;
}
#dropArea.highlight {
    outline-offset: -4px;
    outline-color: #0f3c4b;
    background-color: #f3f5f7;
}

.table-striped-1 > tbody > tr:nth-of-type(1) > * {
    --bs-table-color-type: var(--bs-table-striped-color);
    --bs-table-bg-type: var(--bs-table-striped-bg);
}

.table-striped-start-5 > tbody > tr:nth-of-type(2n+6) > * {
    --bs-table-color-type: var(--bs-table-striped-color);
    --bs-table-bg-type: var(--bs-table-striped-bg);
}